@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #121212;
  color: #fff;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #f7cac9;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
